.MockDataChart {
}

.TooltipContainer {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 5px 20px;
}

.TooltipLabel {
  font-weight: 600;
  font-size: 18px;
  border-bottom: 1px solid #000;
}
